form action="/dishes/#{result['id']}/update" method="post"
    input type="text" name="name" placeholder="#{result['name']}" 
    input type="text" name="id" placeholder="Where_id"}"
    input type="submit" value="Edit it!"