form action="/dishes/#{result['id']}/update" method="post"
    input type="text" name="name" value="#{result['name']}"
    input type="text" name="id" value="#{result['id']}"
    input type="submit" value="Edit it!"