form action="/restaurant/#{result['id']}/update" method="post"
    input type="text" name="name" placeholder="#{result['name']}" 
    input type="text" name="link" placeholder="#{result['link']}"
    input type="submit" value="Edit it!"